[Unit]
  Description=heimdalld-rest-server
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  Restart=on-failure
  RestartSec=5s
  ExecStart=/data/client/heimdall/heimdalld rest-server --home "/data/node_data/heimdalld_data"
  Type=simple
  User=ubuntu

[Install]
  WantedBy=multi-user.target
